@use '../styles/vars.scss' as *;

.banner {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); // затемнение фона
    z-index: 1;
  }

  &--small {
    height: 40vh;

    @media (max-width: 768px) {
      height: 30vh;
    }
  }

   @media (max-width: 768px) {
   height: 40vh;
  }
}

.title {
  position: relative;
  z-index: 2;
  color: $light-bg-color;
  font-family: $font-header;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 50%;

   @media (max-width: 768px) {
   width: 75%;
  }
}
