@use '../styles/vars.scss' as *;

.banner {
  width: 100%;
  height: 60vh;
  min-height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); // затемнение фона
    z-index: 1;
  }
}

.title {
  position: relative;
  z-index: 2;
  color: $light-bg-color;
  font-family: $font-header;
  font-weight: bold;
  text-align: center;
  padding: $gap-64;
  text-transform: uppercase;
}
