@use '../../styles/vars.scss' as *;

.wrapperFull {
  padding: $gap-32 0;
  
  @media (max-width: 768px) {
   padding: $gap-16 0;
  }
  }

.wrapper {
  padding-top: $gap-32;

  @media (max-width: 768px) {
   padding: $gap-16 0;
  }
  }

.subTitle {
  max-width: 100%;

   @media (max-width: 768px) {
    max-width: 90%;
   }
}

.imgIcon {

  @media (max-width: 768px) {
     width: 90%;
  }
}