@use '../styles/vars.scss' as *;

// мне не нравятся цвета текста. У Наташи коричневый? меняем? рамку оставляем в карточке ? 
// цвет внутри карточки оставляем ? 
// границы карточек убрать или оставить

.serviceBody {
    font-family: $font-title;
    font-size:  $font-size-16;
    background-color: $light-bg-color;
    color: $dark-text-color;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  }




// Основной блок секции
.section {
  text-align: center;
  padding: 2rem 0;

  @media (max-width: 768px) {
    padding: 1rem 0;
  }

content.h2 {
    font-family: $font-header;
    font-weight: bold;
     margin-bottom: 1rem;
  }

 
}

// Обёртка для карточек
.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem; // <-- отступы по бокам
  gap: 1rem; // норм отступы между карточками



    @media (max-width: 1064px) {
   flex-direction: row;
    align-items: center;
    gap: 1.1rem;
  }

  @media (max-width: 768px) {
    // flex-direction: column;
    align-items: center;
    gap: 1.1rem;
  }

  @media (max-width: 468px) {
    gap: 1.25rem;
  }
}



// Карточка
.card {
  width: 18rem;
  min-width: 250px;
  margin: 0;
  border-radius: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  }

  @media (max-width: 1064px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    width: 90%;
    margin: 0 auto;
  }

  @media (max-width: 468px) {
    width: 100%;
    box-shadow: none;
    border-radius: 0.5rem;
    margin: 1rem auto;
  }
}

// Стили внутри карточки
.actualBody {
  font-family: $font-title;
  font-size: $font-size-16;
  color: $dark-text-color;
}

.title {
  font-size: $font-size-22;
  font-weight: bold;
  color: $dark-text-color;
}

.text {
  font-size: $font-size-16;
  font-family: $font-text;
    min-height: 20px; 
}

// Изображение
.image {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
  height: 100px;
  width: 100%;
}
// .button {
//     background-color: #e4b7a0;
//     color: $dark-text-color;
//     border: none;
//     margin-top: auto;
// }

// .button:hover {
//     transform: translateY(-5px);
//     background-color:  #2f2f2f;
//   }
