@use '../styles/vars.scss' as *;


.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding: 2rem 0;
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }
}

  .title {
    font-family: $font-text;
    font-size:  $font-size-20;
    font-weight: bold;
    margin-bottom: 0.5rem;


     @media (max-width: 480px) {
    font-size: font-size-18;
  }
  }

   .text {
    font-size:  $font-size-16;
    font-family: $font-text;
   
      @media (max-width: 480px) {
    font-size: font-size-14;
  }
    }
    


