@use '../styles/vars.scss' as *;

// мне не нравятся цвета текста. У Наташи коричневый? меняем? рамку оставляем в карточке ? 
// почистить код , лишнее убрать 
// границы карточек убрать или оставить

.actualBody {
    font-family: $font-title;
    font-size:  $font-size-16;
    background-color: $light-bg-color;
    color: $dark-text-color;
  }
  

.section {
 display: flex;
 justify-content: space-around;
    padding: 40px 20px;
    background-color: $light-bg-color;
    text-align: center;
   
  }
  
  .card {
    margin: 15px;
  
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  }
  
//   .image {
//     border-top-left-radius: 12px;
//     border-top-right-radius: 12px;
//     object-fit: cover;
//     height: 100px;
//     width: 100%;
//   }
  
  .title {
    font-size: 1.2rem;
    font-weight: bold;
    // color: #5a0adb;
    color: $dark-text-color;
    margin-bottom: 20px;
  }
  
  .text {
    font-size: 0.95rem;
    color: #666;
  }

p {
    font-family: $font-title;
    font-size:  $font-size-16;
     color: $dark-text-color;
     margin-top: 30px;
}