@use '../../styles/vars.scss' as *;

.section {
  padding: $gap-64 0;

  @media (max-width: 768px) {
    padding: $gap-32 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap-32;
  }

   @media (max-width: 468px) {
    padding: $gap-16 0;
  }
}

.imgСustom {
  width: 100%;
  max-width: 518px;
  aspect-ratio: 1 / 1; // ✅ сохраняет квадрат на любом экране
  object-fit: cover;
}