@use "../../styles/vars.scss" as *;

 .boldText {
  font-weight: 600; 
}

.arrowSpacing {
  margin-left: 8px;
}

.imgAbout {
  width: 100%;
  max-width: 518px;
  aspect-ratio: 1 / 1; 
  object-fit: cover;

  // Центрирование на моб. экранах
  @media (max-width: 992px) {
    max-width: 400px;
    margin: 0 auto;
  }

  @media (max-width: 468px) {
    max-width: 300px;
    margin: 0 auto;
  }
}

.iconArrow {
  transform: rotate(270deg);
}
