@use '../styles/vars.scss' as *;


.section {
 display: flex;
 justify-content: space-evenly;
 text-align: center;
 flex-wrap: wrap;
 gap: 2rem;
 padding: 2rem 0;
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }
}  


.title {
 font-size:  $font-size-22;
 font-weight: bold;
 color: $light-text-color;
 margin-bottom: 1.5rem;
  }

.text,
.textOne
.textTwo,
.listItem {
 font-size: $font-size-16;
 font-family: $font-text;

  @media (max-width: 480px) {
    font-size: $font-size-14;
  }
}

.textOne, .textTwo {
  font-weight: bold;
}
      
.title {
 font-size:  $font-size-22;
 font-weight: bold;
 color: $light-text-color;
 margin-bottom: 1.5rem;

  @media (max-width: 480px) {
    font-size: $font-size-18;
  }
}

.text {
  font-family: $font-text;
 font-weight: bold;
  margin-bottom: 1rem;
}

.listItem {
  border: none;

}

.imageDescription {
  text-align: center;
  font-style: italic;
  margin-top: 0.5rem;
}