@use '../styles/vars.scss' as *;

.formContainer {
  padding: $gap-64 0;

  label {
    font-weight: 600;
    font-family: $font-title;
  }

  input,
  select,
  textarea {
    background-color: transparent;
    border-radius: 0.375rem;
    border: 1px solid rgba($dark-text-color, 0.4);
    box-shadow: 0 2px 6px rgba($dark-text-color, 0.1);
    transition: border-color 0.3s ease;
    font-family: $font-text;

    &:focus {
      background-color: rgba($dark-bg-color, 0.05);
      border-color: rgba($dark-text-color, 0.7); 
      box-shadow: 0 4px 12px rgba($dark-text-color, 0.2); 
    }
  }

  .form-check-input {
    margin-top: 0.4rem;
  }

  .form-check-label {
    font-size: 1.95rem;
  }
}