@use '../styles/vars.scss' as *;

.btn-main {
  background-color: transparent;
  color: $dark-text-color;
  border: 1px solid rgba($dark-text-color, 0.4);
  padding: $gap-8 $gap-32;
  font-family: $font-text;
  font-size: $font-size-18;
  letter-spacing: 0.05em;
  border-radius: 0.375rem;
  box-shadow: 0 2px 6px rgba($dark-text-color, 0.1);
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    color: $dark-text-color;
    background-color: rgba($secondary-color, 0.05);
    border-color: rgba($dark-text-color, 0.6); // ➤ немного усилить на ховере
    box-shadow: 0 4px 12px rgba($dark-text-color, 0.2); // ➤ чуть глубже
  }

  &:active {
    transform: scale(0.97);
    box-shadow: 0 1px 4px rgba($dark-text-color, 0.15); 
  }
}

.btn-more {
  background: transparent;
  color: $dark-text-color;
  font-family: $font-text;
  font-size: $font-size-18;
  font-weight: 600;
  padding: $gap-8 0;
  border: none;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  display: inline-block;

 span {
    display: inline-block;
    transition: transform 0.3s ease;
  }

&:hover,
  &:focus {
    transform: scale(1.1);

    span {
      transform: translateX($gap-8);
    }
  }
}