@use './vars.scss' as *;

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    color: $black-color;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

label.form-check-label {
  text-transform: none !important;
}