@use '../styles/vars.scss' as *;

h1 {
  position: relative;
  z-index: 2;
  color: $light-bg-color;
  font-family: $font-deco;
  text-align: center;
  width: 60%;
  font-size: 60px;

   @media (max-width: 768px) {
   width: 75%;
   font-size: 30px;
  }
}

h2 {
  font-family: $font-title;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  padding-bottom: $gap-32;

   @media (max-width: 768px) {
   padding-bottom: $gap-16;
   font-size: 28px;
  }

  @media (max-width: 468px) {
   font-size: 24px;
}
}

h3 {
    font-family: $font-title;
    font-weight: 400;
    font-size: 22px;

     @media (max-width: 768px) {
      font-size: 20px;
  }
  }

p, li {
  font-size: $font-size-18;
  line-height: 1.6;
  font-family: $font-text;

   @media (max-width: 768px) {
      font-size: $font-size-16;
    }
  }
