    //colors
   $white-color: #ffffff;
   $black-color: #1A1A1A;
   $light-bg-color: #f9f5f2;
   $secondary-color: #446661;
   $light-text-color: #86a3c2;
   $dark-text-color: #2b2c34;

    //fonts
    $font-title: "Aboreto", system-ui;
    $font-text: 'Montserrat', sans-serif;
    $font-deco: 'Parisienne', cursive;

    //font size
    $font-size-14: 0.875rem;
    $font-size-16: 1rem;
    $font-size-18: 1.125rem;
    $font-size-20: 1.25rem;
    $font-size-22: 1.375rem; 
    $font-size-24: 1.5rem;
    
    //gap
    $gap-4: 0.25rem;
    $gap-8: 0.5rem;
    $gap-16: 1rem;
    $gap-24: 1.5rem;
    $gap-32: 2rem;
    $gap-48: 3rem;
    $gap-64: 4rem;
    $gap-80: 5rem;

    // layout
    $full-height: calc(100vh - 80px);