@use "../../styles/vars.scss" as *;

// Карточка
.card {
  width: 100%;
  height: 18rem;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  &:hover .cardImage {
    transform: scale(1.3);
  }

  &:hover .cardContent {
    transform: scale(1.3);
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 468px) {
    width: 100%;
  }
}

// Стили внутри карточки
.serviceBody {
  position: relative;
  z-index: 2;
  color: $primary-color;
  height: 100%;
  gap: $gap-4;
  padding: 0 40px;
  
}

.separator {
  width: 30%;
  height: 2px;
  background-color: $primary-color;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;

  .card:hover .cardImage {
    transform: scale(1.3);
  }
}
