@use '../../styles/vars.scss' as *;

.wrapperFull {
  padding: $gap-32 0;
  }

  .wrapper {
  padding-top: $gap-32;

  
  @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: $gap-16;
  }
  }


// Карточка
.card {
  width: 18rem;
  height: 18rem;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

   &:hover .cardImage {
    transform: scale(1.3);
  }

  &:hover .cardContent {
    transform: scale(1.3);
  }

  @media (max-width: 768px) {
      width: 100%;
  }

  @media (max-width: 468px) {
    width: 100%;
  }
}

// Стили внутри карточки
.serviceBody {
  position: relative;
  z-index: 2;
  color: $light-bg-color;
  height: 100%; 
  gap: $gap-4;
}

.separator {
  width: 30%;
  height: 2px;
  background-color: $light-bg-color;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;

  .card:hover .cardImage {
  transform: scale(1.3);
}
}

