@use '../styles/vars.scss' as *;

.wrapperFull {
  padding: $gap-64 0 $gap-16 0;
  
  @media (max-width: 768px) {
   padding: $gap-16 0;
  }
  }

.accordionContainer {
    padding: $gap-16 0;
}

.accordionItem {
  overflow: hidden;
  background-color: $primary-color;
}

.accordionBody {
  font-family: $font-title;
  font-size:  $font-size-16;
  background-color: $primary-color;
}

:global(.accordion-button) {
  font-family: $font-title;
  color: $dark-text-color;
  background-color: $primary-color;
  font-size: $font-size-20;
  font-weight: 400;
  padding: $gap-24;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid $dark-text-color; 
  border-radius: 0;
  transition: font-weight 0.2s ease;
}

:global(.accordion-button:not(.collapsed)) {
  font-weight: 700;
  background-color: $primary-color;
  color: $dark-text-color;
  border-bottom: 1px solid $dark-text-color; 
}

:global(.accordion-button::after) {
  filter: none;
}

:global(.accordion-button:focus),
:global(.accordion-button:active),
:global(.accordion-button:not(.collapsed):focus) {
  outline: none;
  box-shadow: none;
  border-color: $dark-text-color;
}

:global(.accordion-item) {
  border: none;
  box-shadow: none;
}


@media (max-width: 768px) {

.accordionContainer {
    padding: $gap-32;
}

  :global(.accordion-button) {
    font-size: $font-size-18;
  }

  .accordionBody {
    font-size: $font-size-14;
  }
}

@media (max-width: 480px) {
  .accordionContainer {
    padding: $gap-16; 
  }

  .accordionItem {
    margin-bottom: $gap-8; 
  }

  :global(.accordion-button) {
    font-size: $font-size-16; 
    padding: $gap-16; 
  }

  .accordionBody {
    font-size: $font-size-14;
  }
}