@use '../styles/vars.scss' as *;

.container {
   padding-top: $gap-32;
   padding-bottom: $gap-32;

  h4 {
    font-size: $font-size-22;
    font-weight: bold;
    padding-bottom: $gap-8;
    font-family: $font-title;
    
    
    @media (max-width: 768px) {
      font-size: $font-size-18;
    }
  }

  p {
    font-size: $font-size-18;
    line-height: 1.6;

    @media (max-width: 768px) {
      font-size: $font-size-16;
    }
  }

  a {
   color: $black-color;
   transition: transform 0.2s ease, color 0.2s ease;
   display: inline-block;

    &:hover {
      transform: scale(1.025);
    }
  }

  ul {
    padding-left: $gap-32;
    margin-bottom: $gap-16;

    li {
      margin-bottom: $gap-8;
      font-size: $font-size-18;
    }
  }

  table {
    border-collapse: collapse;
    margin: $gap-16 0;
    font-size: $font-size-18;

    th,
    td {
      border: 1px solid #ddd;
      padding: $gap-8 $gap-16;
      text-align: left;
      vertical-align: top;
    }

    th {
      font-weight: bold;
    }
  }
}