@use "../../styles/vars.scss" as *;

.wrapperFull {
  padding: $gap-64 0 $gap-32 0;
}

.wrapper {
  padding-top: $gap-32;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap-16;
  }
}

