@use "../../styles/vars.scss" as *;

.title {
  max-width: 80%;

  @media (max-width: 768px) {
    max-width: 100%;
  }
  @media (max-width: 992px) {
    max-width: 100%;
  }
}

.subTitle {
  max-width: 100%;

  @media (max-width: 992px) {
    max-width: 95%;
  }
  @media (max-width: 768px) {
    max-width: 90%;
  }
}

.wrapperFull {
  padding: $gap-32 0;

  @media (max-width: 768px) {
    padding: $gap-16 0;
  }
}

.wrapper {
  padding-top: $gap-32;

  @media (max-width: 768px) {
    padding: $gap-16 0;
  }
}
