@use '../styles/vars.scss' as *;

.brand {
  font-family: $font-deco !important;
  font-size: 30px;
  letter-spacing: 2px;
}

.navbarCustom {
  font-family: $font-title !important;
  color: $dark-text-color !important;
  background-color: $light-bg-color;
}

:global(.navbar-toggler) {
  border: none !important;
  box-shadow: none !important;
  padding-right: 0;
}

.offcanvas {
    background-color: $light-bg-color !important;
     padding-left: $gap-16;
  }

:global(.dropdown-menu) {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

:global(.dropdown-item),
:global(.nav-link),
:global(.custom-nav-link) {
  transition: transform 0.2s ease, color 0.2s ease;
  color: $dark-text-color !important;

  &:hover {
    transform: scale(1.05);
    background-color: transparent !important; 
  }

  &:active,
  &.active {
    background-color: transparent !important;
  }
}

.navLinks {
  font-family: $font-title !important;
  color: $dark-text-color !important;
}