@use '../styles/vars.scss' as *;

 .footerContainer {  
   padding: $gap-32 0; 
   background-color: $secondary-color;
 }

.icon {
      width: 33px;
      height: 33px;
      color:  $dark-text-color;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }

.footerLink {
   transition: transform 0.2s ease, color 0.2s ease;
   display: inline-block;
   font-family: $font-text;

    &:hover {
      transform: scale(1.025);  
      color: $black-color !important;
    }
}

 